$body-background: #76ddea;
$body-color: #fff;
@import "https://abraham-api.netlify.app/weights/regular_bold.css";
@mixin desktop {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin short {
	@media (max-height: 800px) {
		@content;
	}
}
:root {
	--animation-duration: 300ms;
}
body {
	background: rgb(118, 221, 234);
	background: linear-gradient(
		135deg,
		rgba(118, 221, 234, 1) 0%,
		rgba(8, 148, 216, 1) 100%
	);
	min-height: 100vh;
	color: $body-color;
	font-family: "Abraham", sans-serif;
	margin: 0;
	@include desktop() {
		overflow: hidden;
	}

	main {
		// overflow: hidden;
		// padding:2rem;
		display: grid;
		.content {
			width: 90%;
			margin: 5% auto;
			@include desktop {
				width: 30%;
				position: absolute;
				top: 0;
				left: 2%;
				@include short() {
					width: 20%;
				}
			}
		}
		a {
			text-decoration: none;
			border-bottom: 3px solid #3d58a7;
			border-radius: 5px;
			padding: 1rem;
			font-size: 1.5rem;
			text-align: center;
			white-space: pre-line;
			font-weight: bold;
			line-height: 1;
			letter-spacing: 2px;
		}
		header {
			display: flex;
			gap: 1rem;
			animation: topDown var(--animation-duration) ease-in 1 forwards;
			.logo {
				width: 100%;
			}
		}
		.btns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 100%;
			padding: 1rem 0;
			padding-top: 2rem;
			// justify-content: center;
			// align-items: center;
			gap: 1rem;
			animation: topDown var(--animation-duration) var(--animation-duration)
				ease-in 1 forwards;
			.btn {
				color: #3d58a7;
				background: white;
				@include desktop() {
					font-size: 2rem;
					@include short() {
						font-size: 1.5rem;
					}
				}
			}
		}
		.subtitle {
			text-align: center;
			margin: 0;
			display: inline;
			animation: topDown var(--animation-duration)
				calc(var(--animation-duration) * 1.5) ease-in 1 forwards;
		}
		.infos {
			display: flex;
			animation: topDown var(--animation-duration)
				calc(var(--animation-duration) * 2) ease-in 1 forwards;
			.info {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				&-img {
					width: 50px;
					aspect-ratio: 1;
					@include desktop() {
						width: 100px;
						@include short() {
							width: 50px;
						}
					}
				}
				&-text {
					text-align: center;
					letter-spacing: 0.4px;
					@include desktop() {
						font-size: 1.5rem;
						@include short() {
							font-size: 1rem;
						}
					}
				}
			}
		}

		.more-info {
			animation: topDown var(--animation-duration)
				calc(var(--animation-duration) * 2.5) ease-in 1 forwards;
			&__btn {
				color: white;
				background: #06d755;
				display: block;
				position: relative;
				font-size: 2rem;
				@include desktop {
					@include short {
						font-size: 1.5rem;
					}
				}
			}
		}
		.img {
			z-index: -1;

			@include desktop() {
				position: relative;
				--right-margin: 30vw;
				height: 100vh;
				top: 0;
			}
			&__mobile,
			&__desktop {
				max-width: 100%;
				bottom: 0;
				inset-inline: 0;
			}
			&__mobile {
				display: block;
				&.mobile-fixed {
					position: fixed;
					bottom: 0;
				}
			}
			&__desktop {
				display: none;
				position: absolute;
			}
			@include desktop() {
				&__desktop {
					display: block;
				}
				&__mobile {
					display: none;
				}
				&::before,
				&::after {
					content: "";
					height: 150vh;
					position: absolute;
					background: white;
					transform: rotate(-145deg);
					top: -20%;
					z-index: -1;
				}
				&::before {
					width: 50px;
					right: calc(var(--right-margin) + 150px);
				}
				&::after {
					width: 100px;
					right: var(--right-margin);
				}
			}
		}
	}
}

.animation-start {
	opacity: 0;
	transform: translateY(-50px);
}

@keyframes topDown {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

a {
	transition: transform 200ms;
}
a:hover,
a:focus {
	transform: translateY(-10px);
}
